/* Header */
.header{
    position: sticky;
    height: 120px;
    top: 0;
    z-index: 10;
    margin-bottom: 1.6rem;
}

.header__off{
    position: unset;
}

.header__up{
    width: 100%;
    background-color: #00adef;
    height: 50px;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    align-items: center;
}

.header__up--all{
    justify-content:space-between ;
    padding-left: 1rem;
    padding-right: 1rem;
}

.header__up__menu-390{
    display: none;
}

.header__up__menu-390__list{
    visibility: hidden;
    opacity: 0;
    margin-left: -100px;
    max-width: 100px;
    overflow: hidden;
    z-index: -1;
}

/* Logo */
.header__up__logo{
    width: 290px;
    justify-content: center;
    position: relative;
}

.logo__img__dow{
    position: absolute;
    display: block;
    width: 290px;
    left: 0;
    top:44px;
    /* z-index: 20; */
}

/* Search-bar */
.header__up__search-bar{
    position: relative;
    display: block;
    max-width: 470px;
    width: 470px;
    margin-top: 0.25rem;
}

.search-bar--m{
    position: relative;
}

.search-bar__input{
    width: 100%;
    height: 44px;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 200px;
}

.search__btn{
    position: absolute;
    margin-right: 1.75rem;
    height: 40px;
    right: 0;
    border: 0 solid ;
    background-color: #fff;
}

.search__btn__icon{
    max-width: 100%;
    height: auto;
}

.search-bar__category{
    position: absolute;
    height: 2.5rem;
    top: 0;
}
/* User */
.user__log-sig{
    padding-right: 20px;
}

.user__log-in{
    box-sizing: border-box;
    border-right: 1px solid #fff !important;
    cursor: pointer;
}

.icon__cart{
    padding-right: 10px;
    padding-left: 4px;
}

.header__dow{
    display: block;
    width: 100%;
    background-color: #0098d2;
    height: 50px;
    position: relative;
}
/* Nav-bar */
.header__dow__nav-bar{
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
}

.nav-bar{
    display: block;
}

.nav-bar__list{
    list-style: none;
    justify-content: space-between;
    margin-top: 0;
    flex-direction: row;
}

.list__link{
    text-decoration: none;
    color: #fff;

}

/* Menu */
.menu__box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: transparent;
    border: 0;
}

.menu__text{
    padding-left: 10px;
    color: #fff;
    font-weight: 700;
}

.icon__btn{
    color: #fff;
}

.menu__btn{
    padding: 0 !important;
    width: 22% !important;
}

.list__menu__box{
  display: none;
}
.menu__btn:hover .list__menu__box {
    display: block;
}
.list__menu__box__show{
    display: block;
}

.list{
    padding-top: 16px;
}

.menu__box__btn{
    padding: 14px 0;
}

/* Slide */

.slide{
    margin-bottom: 2rem;
    justify-content: flex-end;
}

.slide__menu{
    background-color: #fff;
    padding: 1rem;
}

.slide__menu__header{
    margin: 0;
    border-left:  4px solid rgb(156, 153, 153);
    border-bottom: 1px solid rgb(156, 153, 153);
    padding-left: 6px;
}

.slide__menu__list{
    padding: 0;
    margin: 0;
    background-color: #eaeaea;

}

.menu-list{
    list-style: none;
    border-bottom: 1px solid rgb(156, 153, 153);
    border-left: 4px solid rgb(156, 153, 153);
    color: #000;
}

.slide__slide{
    padding-top: 20px;
    justify-content: space-between;
    max-width: 100%;
}

.bnt__silde {
    position: absolute;
    top: 0;
    bottom: 0;
    border: 0 ;
    background: transparent;
    color: #edf4f7;
}

.bnt__2{
    right: 0;
}

/* Banner */
.banner__img{
    margin-bottom: 54px;
    justify-content: space-between;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.banner__img-longer{
    margin-top: 15px;
    justify-content: center;
}

.img-longer{
    border-top-left-radius:2rem ;
}

.loca-1{
    order: 1;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.loca-2{
    order: 2;

}
.loca-3{
    order: 3;

}
.loca-4{
    order: 4;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

/* Best sell */
.best-sell{
    background-color: #edf4f7;
    margin-top: 80px;
}

.best-sell__box{
    position: relative;
    top: -1.25rem;
}

.best-sell__box__header{
    padding-left: 1rem;
}

.best-sell__box__items__list{
    padding-bottom: 4rem;
    padding-top: 6rem;
    margin-top: 4rem;
    position: relative;
}

.item-1{
    background-color: #fff;
    border-radius: 0.75rem;
}

/* New Products */
.new-products{
    position: relative;
}

.new-products__header{
    top: -1.25rem;
    position: absolute;
    right: 0;
    left: 0;
}

.new-products__header__img{
    justify-content: center;
}

.header__img{
    width: 390px;
}

.new-products__table{
    margin-top: 4rem;
}

.new-products__table__header{
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    background-color: #cbecf7;
    color: #0098d2;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    padding-top: 1.75rem;
    padding-bottom: 1rem;
}

.new-products__table__body{
    margin-bottom: 4rem;
    display: grid;
    border-bottom: 1px  solid;
    border-right: 1px solid ;
    border-color: rgb(231, 229, 229);
}

.table__body__link{
    border-top: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    color: inherit;
    text-decoration: none;
}

.table__body__box{
    text-align: center;
    padding-bottom: 2.5rem;
    border-radius: 0.75rem;
}

.body__box__img{
    justify-content: center;
}

.table__img{
    max-height: 16rem;
}

.body__box__text{
    font-weight: 600;
    padding-top: 0.375rem;
    margin: 0;
}

.body__box__price{
    color: #00adef;
    line-height: 1.5rem;
    font-size: 1.125rem;
    padding-top: 0.25rem;
    margin: 0;
}

.new-products__table__btn__link{
    color: inherit;
    text-decoration: inherit;
}

.new-products__table__btn{
    justify-content: center;
}

.btn{
    background-color: #0069aa;
    line-height: 1.75rem;
    font-size: 1.125rem;
    padding-left: 3rem;
    padding-right: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 9999px;
    color: #fff;
    align-items: center;
    cursor: pointer;
    border: 0;
}

.btn__icon{
    padding-left: 1rem;
}
/* News */
.news{
    background-color: #edf4f7;
    margin-top: 4rem;
}

.box__inside{
    top: -1.25rem;
}

.news__more{
    top: 0;
    bottom: 0;
    right: 0;
    padding-top: 2.5rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    text-decoration: none;
}

.news__more__box__btn{
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #0069aa;
    border: none;
}

.new__box__tag{
   padding-bottom: 5rem;
   padding-top: 6rem;
}

.box__tag__all{
    display: block;
    outline: none;
    width: 390px;
    padding-left: 15px;
    padding-right: 15px;
}

.box__tag__link{
    text-decoration: none;
    color: #000;
}

.box__tag__img{
    border-radius: 0.75rem;
}

.box__tag__text{
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    background-color: #fff;
    margin-top: -1.5rem;
}

.box__tag__text__inside{
    background:url(/_next/static/media/post_absoluse.32fa17fbad0301b23904a909646ea06f.png);
    background-position: top;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.box__tag__text__back{
    padding-left:1.75rem ;
    padding-right: 1.75rem;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    line-height: 1.25rem;
    top: 0;

}

.tag__text_header{
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    margin: 0;
    text-decoration-line: none;
}
/* Footer */
.footer__box{
    background: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50%;
}

.footer__deal{
    padding-bottom: 3.5rem;
    padding-top: 2.25rem;
}

.footer__deal__box{
    text-align: center;
    color: #fff;
}

.deal__box__text{
    padding-left: 11rem;
    padding-right: 11rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 600;
    margin: 0;
    text-align: center;
}

.deal__box__input{
    margin-top: 2.25rem;
}

.deal__box__input__text{
    justify-content: center;
    align-items: center;
    width: 570px;
}

.input__text{
    box-sizing: border-box;
    border: 0 solid;
    outline-offset: 2px;
    line-height: 1.25rem;
    font-weight: 500;
    font-size: 1.125rem;
    padding-left: 4rem;
    border-bottom-width: 1px;
    background-color: transparent;
    border-color: #fff;
    outline: 0;
}

.deal__box__input__bnt{
    align-items: center;
    height: 100%;
    right: 0;
    top: 0;
    color: #fff;
    text-align: center;
}

.input__bnt{
    font-size: 1.125rem;
    line-height: 1.75rem;
    background-color: #fff;
    border-radius: 999px;
    color: #0069aa;
    border: 0 solid;
    cursor: pointer;
}

.deal__box__input__icon{
    top: 0;
    left: 0;
    height: 100%;
    max-width: 50px;
}

.footer__link{
    background-color: #0069aa;
}

.link__box{
    display: grid;
    gap: 0.75rem;
}

.link__box__all{
    flex-direction: column;
}

.link__box__inside{
    text-decoration: none;
    justify-content: flex-end;
    color: #fff;
}

.link__inside{
    font-weight: 500;
}

.link__icon{
    margin-right: 0.625rem;
    height: auto;
    display: block;
    vertical-align: middle;
}

.footer__contacts__box{
    overflow: hidden;
    background: url(../img/background-footer.png);
    background-size: 100%;
}

.background__img{
    top: 0;
    height: 404px;
}

.footer__contacts__logo{
    z-index: 10;
    justify-content: center;
}

.logo__footer{
    height: auto;
    padding-top: 2.5rem;
}

.footer__contacts__location{
    font-weight: 400;
    text-align: center;
    z-index: 10px;
}

.footer__contacts__line{
    justify-content: center;
    z-index: 10;
}

.footer__contacts__end{
    padding-top: 1.25rem;
    padding-bottom: 1.5rem;
    text-align: center;
    z-index: 10;
    color: #00adef;
}

/* Authen modal */
.modal__overlay{
    z-index: 20;
}

.modal__body{
    z-index: 20;
}

.auth-form{
    width: 600px;
}

.auth-form__container{
    padding: 0 32px;
}

.auth-form__header{
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
}

.auth-form__btn{
    font-size: 1.6rem;
    color: #0098d2;
    font-weight: 600;
    cursor: pointer;
}

.auth-form__form{

}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    /* padding: 0 12px; */
    font-size: 1.4rem;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    outline: none;
}

.auth-form__control{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.bnt--back{
    margin-right: 8px;
}

.auth-form__socials{
    background-color: #bebaba;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.bnt--with-icon{
    padding: 0 4px !important;
}

.social__icon{
    font-size: 1.6rem;
}

.fb{
    background-color: #3A5A98 !important;
    color: #fff;
}

.icon--fb{
    color: #fff;
}

.socials--title{
    margin: 0 12px
}

.gg{
    color: #666;
    background-color: #fff;
}

.auth-form__aside{
    margin-top: 16px;
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    text-decoration: none;
    font-size: 1.2rem;
}

.auth-form__help-space{
    display: block;
    border-left: 1px solid #dbdbdb;
    margin: 0 16px;
}

.auth-form__help-ps{
    color: #0098d2;
    cursor: pointer;
}

.auth-form__help-text{
    color: #939393;
}

.pd-wrap {
	padding: 40px 0;
	font-family: 'Poppins', sans-serif;
}
.heading-section {
	text-align: center;
	margin-bottom: 20px;
}
.sub-heading {
	font-family: 'Poppins', sans-serif;
    font-size: 12px;
    display: block;
    font-weight: 600;
    color: #2e9ca1;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.heading-section h2 {
	font-size: 32px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 15px;
	font-family: 'Poppins', sans-serif;
}
.user-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
	min-width: 80px;
	background-size: 100%;
}
.carousel-testimonial .item {
	padding: 30px 10px;
}
.quote {
	position: absolute;
    top: -23px;
    color: #2e9da1;
    font-size: 27px;
}
.name {
	margin-bottom: 0;
    line-height: 14px;
    font-size: 17px;
    font-weight: 500;
}
.position {
	color: #adadad;
	font-size: 14px;
}
.owl-nav button {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	outline: none;
	height: 25px;
}
.owl-nav button svg {
	width: 25px;
	height: 25px;
}
.owl-nav button.owl-prev {
	left: 25px;
}
.owl-nav button.owl-next {
	right: 25px;
}
.owl-nav button span {
	font-size: 45px;
}
.product-thumb .item img {
	height: 100px;
}
.product-name {
	font-size: 22px;
	font-weight: 500;
	line-height: 22px;
	margin-bottom: 4px;
}
.product-price-discount {
	font-size: 22px;
    font-weight: 400;
    padding: 10px 0;
    clear: both;
}
.product-price-discount span.line-through {
	text-decoration: line-through;
    margin-left: 10px;
    font-size: 14px;
    vertical-align: middle;
    color: #a5a5a5;
}
.display-flex {
	display: flex;
}
.align-center {
	align-items: center;
}
.product-info {
	width: 100%;
}
.reviews-counter {
    font-size: 13px;
}
.reviews-counter span {
	vertical-align: -2px;
}
.rate {
    float: left;
    padding: 0 10px 0 0;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float: right;
    width: 15px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 21px;
    color:#ccc;
	margin-bottom: 0;
	line-height: 21px;
}
.rate:not(:checked) > label:before {
    content: '\2605';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.product-dtl p {
	font-size: 14px;
	line-height: 24px;
	color: #7a7a7a;
}
.product-dtl .form-control {
	font-size: 15px;
}
.product-dtl label {
	line-height: 16px;
	font-size: 15px;
}
.form-control:focus {
	outline: none;
	box-shadow: none;
}
.product-count {
	margin-top: 15px;
}
.product-count .qtyminus,
.product-count .qtyplus {
	width: 34px;
    height: 34px;
    background: #212529;
    text-align: center;
    font-size: 19px;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
}
.product-count .qtyminus {
	border-radius: 3px 0 0 3px;
}
.product-count .qtyplus {
	border-radius: 0 3px 3px 0;
}
.product-count .qty {
	width: 60px;
	text-align: center;
}
.round-black-btn {
	border-radius: 4px;
    background: #212529;
    color: #fff;
    padding: 7px 45px;
    display: inline-block;
    margin-top: 20px;
    border: solid 2px #212529;
    transition: all 0.5s ease-in-out 0s;
}
.round-black-btn:hover,
.round-black-btn:focus {
	background: transparent;
	color: #212529;
	text-decoration: none;
}

.product-info-tabs {
	margin-top: 25px;
}
.product-info-tabs .nav-tabs {
	border-bottom: 2px solid #d8d8d8;
}
.product-info-tabs .nav-tabs .nav-item {
	margin-bottom: 0;
}
.product-info-tabs .nav-tabs .nav-link {
	border: none;
	border-bottom: 2px solid transparent;
	color: #323232;
}
.product-info-tabs .nav-tabs .nav-item .nav-link:hover {
	border: none;
}
.product-info-tabs .nav-tabs .nav-item.show .nav-link,
.product-info-tabs .nav-tabs .nav-link.active,
.product-info-tabs .nav-tabs .nav-link.active:hover {
	border: none;
	border-bottom: 2px solid #d8d8d8;
	font-weight: bold;
}
.product-info-tabs .tab-content .tab-pane {
	padding: 30px 20px;
	font-size: 15px;
	line-height: 24px;
	color: #7a7a7a;
}
.review-form .form-group {
	clear: both;
}
.mb-20 {
	margin-bottom: 20px;
}

.review-form .rate {
	float: none;
	display: inline-block;
}
.review-heading {
	font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 6px;
    text-transform: uppercase;
    color: #000;
}
.review-form .form-control {
	font-size: 14px;
}
.review-form input.form-control {
	height: 40px;
}
.review-form textarea.form-control {
	resize: none;
}
.review-form .round-black-btn {
	text-transform: uppercase;
	cursor: pointer;
}

  #cd-hamburger-menu a, #cd-cart-trigger a {
    width: 60px;
    height: 100%;
  }

  #cd-hamburger-menu {
    left: 0;
  }

  @media only screen and (min-width: 1200px) {
    #cd-hamburger-menu {
      display: none;
    }
  }

  @media only screen and (min-width: 1200px) {

    #cd-cart-trigger a {
      position: relative;
      width: 100px;
      border-left: none;
      display: flex;
      justify-content: center;
      color: black;
      align-items: baseline;
      margin-top: 4px;
    }
  }

  #main-nav, #cd-cart {
    position: fixed;
    top: 0;
    height: 100%;
    width: 260px;
    /* header height */
    padding-top: 50px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 3;
  }
  @media only screen and (min-width: 768px) {
    #main-nav, #cd-cart {
      width: 350px;
    }
  }
  @media only screen and (min-width: 1200px) {
    #main-nav, #cd-cart {
      width: 30%;
      /* header height has changed */
      padding-top: 130px;
    }
  }

  #main-nav {
    left: -100%;
    background: #FFF;
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    transition: left 0.3s;
  }
  #main-nav.speed-in {
    left: 0;
  }
  #main-nav ul a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 1em;
    border-bottom: 1px solid #e0e6ef;
  }
  #main-nav ul .current {
    box-shadow: inset 3px 0 #435779;
  }
  @media only screen and (min-width: 1200px) {
    #main-nav {
      /* reset main nav style */
      position: absolute;
      height: auto;
      width: auto;
      left: auto;
      right: 8em;
      padding-top: 0;
      top: 0;
      background: transparent;
      box-shadow: none;
      /* header height */
      line-height: 80px;
      z-index: 4;
    }
    #main-nav li {
      display: inline-block;
      margin-left: 1em;
    }
    #main-nav ul a {
      display: inline-block;
      height: auto;
      line-height: 1;
      padding: 1em 1.4em;
      border-bottom: none;
      color: rgba(255, 255, 255, 0.8);
      border-radius: 0.25em;
    }
    #main-nav ul a.current {
      box-shadow: none;
      background: #435779;
      color: #FFF;
    }
    .no-touch #main-nav ul a:hover {
      background: #435779;
      color: #FFF;
    }
  }
  .no-js #main-nav {
    position: fixed;
  }

  #cd-cart {
    right: -100%;
    background: #FFF;
    -webkit-transition: right 0.3s;
    -moz-transition: right 0.3s;
    transition: right 0.3s;
  }
  #cd-cart.speed-in {
    right: 0;
  }
  #cd-cart > * {
    padding: 0 1em;
  }
  #cd-cart h2 {
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1em 0;
  }
  #cd-cart .cd-cart-items {
    padding: 0;
  }
  #cd-cart .cd-cart-items li {
    position: relative;
    padding: 1em;
    border-top: 1px solid #e0e6ef;
  }
  #cd-cart .cd-cart-items li:last-child {
    border-bottom: 1px solid #e0e6ef;
  }
  #cd-cart .cd-qty, #cd-cart .cd-price {
    color: #a5aebc;
  }
  #cd-cart .cd-price {
    margin-top: .4em;
  }
  #cd-cart .cd-item-remove {
    position: absolute;
    right: 1em;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: url("../img/cd-remove-item.svg") no-repeat center center;
  }
  .no-touch #cd-cart .cd-item-remove:hover {
    background-color: #e0e6ef;
  }
  #cd-cart .cd-cart-total {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  #cd-cart .cd-cart-total span {
    float: right;
  }
  #cd-cart .cd-cart-total::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
  }
  #cd-cart .checkout-btn {
    display: block;
    width: 80%;
    height: 60px;
    line-height: 60px;
    background: #00adef;
    color: #FFF;
    text-align: center;
    margin: auto;
    border-radius: 4px;
  }
   .cd-go-cart {
    display: block;
    width: 80%;
    height: 60px;
    line-height: 60px;
    background: #FFF;
    color: #00adef;
    text-align: center;
    margin: 12px auto;
    border-radius: 4px;
    border: 1px solid #00adef;

  }
   .cd-go-cart:hover {
    background: #00adef;
    color: #FFF;
  }

  @media only screen and (min-width: 1200px) {
    #cd-cart > * {
      padding: 0 2em;
    }
    #cd-cart .cd-cart-items li {
      padding: 1em 2em;
    }
    #cd-cart .cd-item-remove {
      right: 2em;
    }
  }

  /* --------------------------------

  xgallery

  -------------------------------- */
  main {
    position: relative;
    min-height: 100%;
    background: #eeeff7;
    padding-top: 70px;
    z-index: 1;
  }
  @media only screen and (min-width: 768px) {
    main {
      padding-top: 90px;
    }
  }
  @media only screen and (min-width: 1200px) {
    main {
      padding-top: 120px;
    }
  }

  #cd-gallery-items li {
    margin-bottom: 1.5em;
  }
  #cd-gallery-items li img {
    width: 100%;
    display: block;
    border-radius: 0.25em;
  }
  @media only screen and (min-width: 768px) {
    #cd-gallery-items li {
      width: 48%;
      float: left;
      margin-bottom: 2em;
      margin-right: 4%;
    }
    #cd-gallery-items li:nth-child(2n) {
      margin-right: 0;
    }
  }
  @media only screen and (min-width: 1200px) {
    #cd-gallery-items li {
      width: 31%;
      float: left;
      margin-bottom: 2.5em;
      margin-right: 3.5%;
    }
    #cd-gallery-items li:nth-child(2n) {
      margin-right: 3.5%;
    }
    #cd-gallery-items li:nth-child(3n) {
      margin-right: 0;
    }
  }

  #cd-shadow-layer {
    position: fixed;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(67, 87, 121, 0.6);
    cursor: pointer;
    z-index: 2;
    display: none;
  }
  #cd-shadow-layer.is-visible {
    display: block;
    -webkit-animation: cd-fade-in 0.3s;
    -moz-animation: cd-fade-in 0.3s;
    animation: cd-fade-in 0.3s;
  }

  /* --------------------------------

  xkeyframes

  -------------------------------- */
  @-webkit-keyframes cd-fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes cd-fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
  @keyframes cd-fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
